p {
	background-color: beige;
	padding: 10px 0;
}

#pierwszy {
	background-color: chocolate;
}

.lorem {
	font-size: 20px;
}

p#pierwszy, a {
	font-weight: bold;
}

div#potomny > p {
	background-color: aqua;
}

#pierwszy + a {
	background-color: darkgoldenrod;
}

#pierwszy ~ a {
	background-color: lightcoral;
}